fastapi
uvicorn
aiofiles
langchain
langchain-community
langchain-text-splitters
langchain-openai
chromadb
unstructured[all-docs]
python-magic
python-dotenv
pydantic-settings
jieba
scikit-learn
beautifulsoup4
markdownify
python-multipart
