fastapi
uvicorn
python-dotenv
pymysql
DBUtils
openai
httpx
openai-agents
pystun3
redis
aiofiles
aiohttp
setuptools
python-jose[cryptography]
passlib[bcrypt]
python-multipart
slowapi
langsmith
pydantic-settings
